a{
    text-decoration: none;
    cursor: pointer
}

.box,
.sample-layout > div {
    background-color: #cce4f7;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 4px;
}

.box-stretched {
    height: 100%;
}

.sample-layout {
    margin: 0;
}

.sample-layout > div {
    border: 1px solid #ffffff;
}

.vertical-container {
    margin: 0;
    height: 200px;
    background: #efefef;
    border-radius: 4px;
}

.hidden {
    display: none;
}

.ui-datalist {
    width:300px;
    margin-bottom: 20px;
}

.ui-datalist-item {
    padding:3px;
}

.paginated .ui-datalist-data {
    padding-left: 20px;
}